body {
  margin: 0px;
  background-color: var(--cor-1);
}
ul,
h1,
h2,
h3,
h4,
p,
dd,
blockquote {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".webp"] {
  border-radius: 8px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
