.menu-bg {
  background-color: var(--cor-p1);
}

.menu {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.menu .logo {
  max-height: 30px;
  padding: 8px 4px;
  margin-bottom: 16px;
}

.menu-link {
  display: flex;
  gap: 20px;
}

.menu-link a {
  padding: 8px 16px;
  background-color: var(--cor-p2);
  border-radius: 4px;
}

.menu-link a:hover {
  background: var(--cor-p3);
}

@media (max-width: 600px) {
  .menu {
    grid-template-columns: 1fr;
  }
  .menu-link {
    justify-content: start;
  }
}
