.sidemenu {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  gap: 20px;
  justify-items: start;
}
.sidemenu li {
  padding: 20px;
  background: var(--cor-0);
  border-radius: 4px;
  max-width: 100px;
  max-height: 100px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.sidemenu li:hover {
  box-shadow: 2px 2px 5px 0px var(--cor-p1);
}

/*responsivo------------------------------------------*/

@media (max-width: 1000px) {
  .sidemenu {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 10px;
    padding-bottom: 20px;
    overflow-x: scroll;
  }
}
