body {
  height: 2000px;
}
.grid-geral {
  display: grid;
  gap: 20px;
  justify-content: space-between;
  grid:
    "sidemenu conteudo anuncios"
    /1fr 5fr 2fr;
  margin-bottom: 20px;
}

.sidemenu-grid {
  grid-area: sidemenu;
}

.conteudo-grid {
  grid-area: conteudo;
  background-color: var(--cor-0);
  margin-right: 40px;
  margin-bottom: 20px;
}

.anuncios-grid {
  grid-area: anuncios;
}

@media (max-width: 1000px) {
  .grid-geral {
    grid:
      "sidemenu sidemenu"
      "conteudo anuncios"
      /3fr 1fr;
  }
}

@media (max-width: 800px) {
  .grid-geral {
    grid:
      "sidemenu sidemenu "
      "conteudo conteudo"
      "anuncios anuncios"
      /1fr;
  }
}
